* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

header {
    height: 80px;
    background-color: #3161E0;
    padding: 1.5rem;
}

nav {
    width: 100%;
    height: 35px;
    color: white;
}

footer {
    width: 100%;
    height: 80px;
}

.conteiner {
    max-width: 1200px;
    min-height: 35px;
    margin: auto;
}

i {
    color: #3161E0;
    padding: 5px;
    background-color: white;
}

.small-nav {
    width: 25%;
    height: 100%;

}

.link {
    width: 50%;
    height: 100%;
}

.flex {
    display: flex;
}

.row-dir {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.just-even {
    justify-content: space-evenly;
}

.align-end {
    align-items: end;
}

.gap {
    row-gap: 15px;
}

.wrap {
    flex-wrap: wrap;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    color: white;
}

.pd {
    padding: 5px;
}

.align-text-end {
    text-align: end;
}
h1,.par-pad{
    padding-bottom: 3rem;
    text-align: center;
}
.h2-l{
    padding: 5rem 5rem 1rem 0rem;
}
.h2-r{
    padding: 6rem 0rem 1rem 5rem;

}
.space-parag-r{
    padding: 1rem 3rem 0 5rem;
    text-align: left;
    font-size: 1.25rem;
}
.h2-center{
    padding: 1rem 0;
}
h2{
    font-size: 2.75rem;
}
.p-cent{
    padding: 0 5rem;
}

.space-parag-l{
    padding: 1rem 5rem 0 0;
    text-align: left;
    font-size: 1.25rem;
}

.bord-bot {
    border-bottom: 1px solid #D3D3D3;
}

.small-nav button {
    width: 80px;
    height: 20px;
    padding:0.5rem 0 1.5rem 0; 
}
.jumbo-button-l{
    height: 45px;
    width: 200px;
    
}
.jumbo-button-r{
    height: 45px;
    width: 250px;
    background-color: black;
    color: white;
    
    
}
.all-button{
    border-radius: 2rem;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
}

.small-botton {
    width: 60px;
}
.last-button{
    background-color: #8EA1E1;
    color: white;
}

.marg-top-bot {
    margin: 10px 0;
}

/* box */

.sup-big-box {
    min-height: 1000px;
}

.big-box {
    width: 100%;
    height: 600px;
}
h3{
    font-size: 2rem;
}

.sup-box {
    width: 1000px;
    min-height: 700px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
}

.box-unique {
    width: 800px;
    height: 400px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.box {
    width: 1200px;
    height: 500px;
}

.md-box {
    min-width: 600px;
    min-height: 400px;
}

.sm-box {
    width: 400px;
    min-height: 500px;
}

.min-box {
    width: 300px;
    height: 450px;
    border: 1px dashed black;
}

.col-box {
    width: 700px;
    height: 450px;
    border: 1px dashed white;
}

.min-col-box {
    width: 25%;
    height: 100%;
    border: 1px dashed white;
}
.box-size{
    padding-top: 1rem;
    min-height: 100px;
    text-align: center;
}

.foot-box {
    height: 50px;
    width: 1000px;
}

/* color */
.back-jumbo {
    background-image: url('../img/jumbo.png');
}
.every-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}

.back-white {
    background-color: white;
}

.back-img-1 {
    background-image: url('../img/item1.svg');
}

.back-img-2 {
    background-image: url('../img/item2.svg');
}
.back-img-3 {
    background-image: url('../img/item3.svg');
}

.back-wave {
    background-image: url('../img/wave.svg');
    color:#F6F6F6;
}

.back-img-star {
    background-image:url('../img/stars.svg') ;
}


.back-black {
    background-color: #23272A;
}

.back-dark-pink {
    background-color: #F08080;
}

.back-green-water {
    background-color: #20B2AA;
}

.back-light-green {
    background-color: #7FFFD4;
}